*{
	margin:0; 
	padding:0;
}
body{
<<<<<<< HEAD
	background-color: #5fc0ec;
=======
	background-color: #4400ff;
>>>>>>> bbf10bc4b6636fa9d50e6bf439546fd0523bdac1
}
#titulo{
	text-align: center;
	font-family: aBernard MT Condensed;
    color: #ffffff;
	padding-top: 20px;

}
#divtitulo{
	width: 100%;
	height: 100px;
	background-color: #8dc7ee;
	border-bottom: 3px solid black;
	
}
#img{
	width:400px;
	height:200px;
	margin-left:435px;
	border: 3px solid black;
}
#descriçao{
	font-family: Bernard MT Condensed;
	text-align: center;
	margin-top: 10px;
	font-size: 25px;
	text-shadow: 10px 5px 2px black;
	color: white;
	
}
#divdescricao{
    border-style: dashed;
	width: 800px;
	height: 75px;
	margin-left: 250px;
	border-radius: 10px;
}